.input{
    width:200px;
    margin-left: 150px;
    margin-bottom: 30px;
    
}
.font{
    font-family: 'Cantarell', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Courgette', cursive;
font-family: 'Kalam', cursive;
font-family: 'Monoton', cursive;
font-family: 'Varela Round', sans-serif;
}