.Nav{
    display: flex;
    color: black; 
    background-color:#dfe4ea;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px;
    z-index: 1;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.2);
    
    
}
.name{
    margin-left: 50px;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;

    
}
.input{
    margin-left: 30px;
    width: 300px;
}

.last{
    /* margin-right: 50px; */
   
    width: 200px;

}
.last .link {
    margin: 0px auto;
}
.last .link button{
    font-size: 25px;
    width: 70px;
}
.link{
    font-size: 25px;
    margin-left: 50px;

}
