.Nav{
    
    color: black; 
    background-color:#dfe4ea;
    
    position: fixed;
    width: 100%;
    top: 0;
   padding: 10px;
    z-index: 1;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.2);
    
    
}
.Nav .content{
    justify-content: space-between;
    align-items: center;
    display: flex;
   
}

.mid .midlink{
    font-size: 20px;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;

    
}
.input{
    margin-left: 30px;
    width: 300px;
}

.last{
    /* margin-right: 50px; */
     display: flex;
     width: 400px;
     justify-content: space-around;


}
.last .link {
    margin: 0px auto;
    
}
.active{
    color: #7f8fa6;
}
.last .link button{
    font-size: 20px;
    width: 70px;
    
}
.link{
    font-size: 27px;
    margin-left: 50px;
    font-family: 'Cantarell', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Courgette', cursive;
font-family: 'Kalam', cursive;
font-family: 'Monoton', cursive;
font-family: 'Varela Round', sans-serif;

}
.sign-up{
    font-size: 20px;
    width: 100px;
    
}
