.button{
    display: flex;
    justify-content: space-between;
    margin: 50px 70px;
}

.card{
    margin: 20px auto;
}
.container {
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}